@font-face {
    font-family: Home;
    src: url(Anta-Regular.ttf);
}

.Home {
    font-size: x-large;
    font-family: Home;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px;

}

body {
    background-color: cornsilk;

}

html {
    font-family: Home;
    scroll-behavior: smooth;
}

nav {
    overflow: hidden;
    user-select: none;
  }
  
  #nav-menu {
    list-style-type: none;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  #nav-menu a {
    display: block;
    color: cornsilk;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-position 0.3s ease;
    border-radius: 20px;
    background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 1) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  
  #nav-menu a:hover {
    background-position: left bottom;
    color: black;
    font-weight: bold;
  }
  
  
  @keyframes gradient {
    0% {
      background-position: right bottom;
    }
    100% {
      background-position: left bottom;
    }
  }

  #nav-menu_draw a {
    display: block;
    color: cornsilk;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-position 0.3s ease;
    border-radius: 20px;
    background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 1) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    
  }

  #nav-menu_draw a:hover {
    background-position: left bottom;
    color: black;
    font-weight: bold;
  }

  #nav-menu_draw {
    margin-right: 20%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  canvas {
    border: 1px solid black;
}

button {
    font-family: Home;
    border-radius: 20px;background-color: black;
    color: cornsilk;
    padding: 14px 16px;
}

button:hover {
    font-weight: bolder;
}

footer {
    text-align: center;
    display: block;
    margin: 50px;
    padding: 30px;
}

footer a {
    text-decoration: none;
    color: cornsilk;
    background-color: black;
    border-radius: 20px;
    padding: 15px;
    opacity: 0.7;
    font-size: 10px;
}

footer a:hover  {
    opacity: 1;
    font-weight: bold;
}

.fat {
    font-weight: bold;
    font-size: x-large;
    color: black;
}
